@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@900&display=swap');


h1 span {
    position: relative;
    font-family: 'Barlow', sans-serif;
    font-weight: 900;
    color: #000;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-size: 80px;
    line-height: 26px;
}

@media (max-width: 418px) {
    h1 span {
        font-size: 15vw;
    }
}

@media (min-width: 419) and (max-width: 768px) {
h1 span {
    font-size: 12vw;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
h1 span {
    font-size: 9vw;
}
}

@media (min-width: 1024px) {
h1 span {
    font-size: 6vw;
}
}



