.button-container {
    display: flex;
    justify-content: space-evenly; /* Aligns the buttons with equal space between them */
    align-items: center; /* Vertically centers the buttons within the container */
    margin-top: 20px;
    margin-bottom: 10px
  }

 .work, .courses-section {
    min-height: 850px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}


.services {
    min-height: 750px;
    justify-content: center;
    align-content: center;
}

.services, .work, .courses-section, .contact-section, .instagram-section,
.client-section, .points-section {
    position: relative;
    justify-content: center;
    align-content: center;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
    overflow-y: hidden !important;
    z-index: 0;
}

.courses-section{
    background: rgba(245,245,245,0.1);
    position: relative;
    min-height: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    z-index: 1;
}

.dark-content .courses-section {
    background: #101215;
}

.contact-section {
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background: white;
}

.dark-content .contact-section {
    background: #000;
}

.work {
    background: rgb(0,173,173,0.1);
}

.afh-details {
    min-width: 100%;
    min-height: 500px;

    background: #155bd5;
}

.dark-content .afh-details {
    background: #020711
}