.project-description p {
    font-family: 'heebo', sans serif;
    text-align: justify;
    font-size: 15px;
}

.project-description {
    padding: 0px 10px;
}

.detailed-project .react-photo-gallery--gallery img {
    max-width: 24%;
    min-width: 24%;
    max-height: 206px;
    margin: 5px !important;
    border-radius: 10px;
}