.about-us-word {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-52%, -45%);
    padding: 0px 15px;
}

.image-area{
    width: 100%;
    height: 100%;
}

.our-story-area {
    margin-top: 0px;
    background: #fff;
}

.dark-content .our-story-area {
    background-color: #101215;;
}

.about-image-area {
    width: 100%;
    height: 100%;
}

.cont {
    padding: 40px 10px;
}


.about-word-area {
    background-image: url("../../Assets/smoke.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    opacity: .3;
    transform: scaleX(-1);
    position: absolute;
    left: 0%;
    top: 0%;
}

.video-sim {
    position: absolute;
    height: 400px;
    width: 100%;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-45%);
    border-radius: 10px;
}

iframe {
    border-radius: 10px;
}

@media (max-width: 768px) {
    .video-sim {
        position:relative
    }

    .cont {
        min-height: 1200px
    }
}