.team-boxed {
    color:#313437;
  }
  
  .team-boxed p {
    color:#7d8285;
  }
  
  .team-boxed h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .team-boxed h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .team-boxed .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
  }
  
  .team-boxed .intro p {
    margin-bottom:0;
  }
  
  .team-boxed .people {
    
    padding: 15px 0px;
  }
  
  .team-boxed .item {
    text-align:center;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    */
  }
  
  .team-boxed .item .box {
    position: relative;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 30px;
    min-width: 416px;
    display: block;
    width: 50%;
    border-radius: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .dark-content .team-boxed .item .box {
    position: relative;
    text-align: center;
    padding: 10px;
    background-color: #262626 !important;
    margin-bottom: 30px;
    min-width: 416px;
    display: block;
    width: 50%;
    border-radius: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: 768px) {
    .team-boxed .item .box {
        position: relative;
        text-align: center;
        padding: 29px;
        background-color: #fff;
        margin-bottom: 30px;
        min-width: 416px;
        display: block;
        width: 100%;
        margin: 0px 30px 0px 30px;
        border-radius: 5px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top:  10px;
      }
  }
  
  .team-boxed .item .name {
    font-weight:bold;
    margin-top:28px;
    margin-bottom:8px;
    color:inherit;
  }

  .dark-content .team-boxed .item .name {
    font-weight:bold;
    margin-top:28px;
    margin-bottom:8px;
    color:#fff;
  }
  
  .team-boxed .item .title {
    text-transform:uppercase;
    font-weight:bold;
    color:#d0d0d0;
    letter-spacing:2px;
    font-size:13px;
  }
  
  .team-boxed .item .description {
    font-size:15px;
    margin-top:15px;
    margin-bottom:20px;
  }
  
  .team-boxed .item img {
    max-width:160px;
  }
  
  .team-boxed .social {
    font-size:18px;
    color:#a2a8ae;
  }
  
  .team-boxed .social a {
    color:inherit;
    margin:0 10px;
    display:inline-block;
    opacity:0.7;
  }
  
  .team-boxed .social a:hover {
    opacity:1;
  }
