
.landing-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  }

  .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 95%;
  height: 100%;
  background: linear-gradient(90deg, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 38%, rgba(245,245,245,0) 80%, rgba(255,255,255,0) 100%);
  z-index: 1;
  }

  .content {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  z-index: 5;
  }

  .video-wrapper {
    display: inline-block;
    width: 75%;
    max-width: 75%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
    background-image: url("https://i.ytimg.com/vi/aqz-KE-bpKQ/maxresdefault.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    border-radius: 5px;
  }

  .video-wrapper video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    transition: opacity 2s; 
    display: block;
    padding:0;
    margin:0;
    opacity: 0;                
  }

  .wording p {
    color: #000;
    font-size: calc(11px + 0.5vw);
}

  @media (max-width: 768px) {
  .landing-container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100vh;
  }

  .video-wrapper {
      width: 100%;
      max-width: none;
  }

  .video-wrapper video {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
  }

  .overlay {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 90%;
      height: 100%;
      background: linear-gradient(360deg, rgba(245,245,245,1) 0%, rgba(245,245,245,0.9724264705882353) 23%, rgba(245,245,245,0.5270483193277311) 56%, rgba(245,245,245,0) 94%)
      }

  .content {
      position: absolute;
      /* left: 4%; */
      bottom: 30%;
      /* transform: translateY(-50%); */
      color: #fff;
      z-index: 5;
    }

    .wording p {
        color: #000;
        font-size: calc(14px + 0.5vw);
        padding: calc(5px + 0.5vw);
        text-align: -webkit-center;
    }


}
      
    /* video.video-playing {
    opacity: 1;
    } */