.details-section {
    min-height: 100%;
    min-width: 100%;
}

.two-column-list {
    columns: 2;
    padding: 20px;
  }
  
  .two-column-list li {
    display: inline-block;
    width: 100%;
    color: #fff;
  }

  #small-checkmark {
    fill: #fff;
    width: 1.3125rem;
    height: 1.3125rem;
    padding: 0.1875rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0.375rem;
    margin-right: 1rem;
  }

  .testimonial-area {
    min-height: 200px;
    /* border: 1px solid white; */
    border-radius: 10px;
    margin: 0px 30px;
    background: #153bd5;
    filter: brightness(0.8)
  }
  

  .img-fluid-big img {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
  }

  .image-dots-why-area {
    position: absolute;
    left: 25%;
    z-index: 1;
    min-height: 100%;

  }


  .image-dots-why-area .image-dots {
    top: 40%
  }

  @media (max-width: 768px) {
    .img-fluid-big {
      height:500px
    }

    .img-fluid-big img {
      position: absolute;
      width: 70%;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 10px;
    }

    .image-dots-why-area .image-dots {
      top: 25%;
    }

    h3.wordheading {
      font-family: 'Poppins', sans-serif;
      color: #000;
      font-size: calc(43px + 24 * ((100vw - 768px) / 672));
      text-transform: capitalize;
      margin: 40px 0px;
    }

  }

  