.btn-prim {
    background: rgb(0,242,234);
    background: linear-gradient(321deg, rgba(0,242,234,1) 57%, rgba(0,242,174,1) 100%);
    padding: 15px calc(0.1vw + 20px);
    font-weight: 800;
    font-size: calc(0.5vw + 10px);
    text-transform: capitalize;
    overflow: hidden;
    max-width: 100%;
    word-wrap: break-word;
}

.btn-prim:after {
    left: -100%;
    clip-path: polygon(10% 0, 70% 0, 90% 100%, 30% 100%);
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 300ms ease;
}
  
.btn-prim:hover::after {
    left: 100%;
}

.btn-sec {
    background-color: #dcdcdc;
    padding: 15px calc(1.1vw + 20px);
    font-weight: 800;
    font-size: calc(0.5vw + 10px);;
    text-transform: capitalize;
}

.detail-icon {
    padding-right: 10px;
}