.btn-prim {
    background: rgb(0,242,234);
    background: linear-gradient(321deg, rgba(0,242,234,1) 57%, rgba(0,242,174,1) 100%);
    padding: 15px calc(0.1vw + 20px);
    font-weight: 800;
    font-size: calc(0.5vw + 10px);
    text-transform: capitalize;
    overflow: hidden;
    max-width: 100%;
    word-wrap: break-word;
}

.btn-outline {
    background: transparent !important;
    padding: 15px calc(0.1vw + 20px);
    font-weight: 800;
    font-size: calc(0.5vw + 10px);
    text-transform: capitalize;
    overflow: hidden;
    max-width: 100%;
    word-wrap: break-word;
    border: 3px solid black;
    color: #000;
}

.dark-content .btn-outline {
    background: transparent !important;
    padding: 15px calc(0.1vw + 20px);
    font-weight: 800;
    font-size: calc(0.5vw + 10px);
    text-transform: capitalize;
    overflow: hidden;
    max-width: 100%;
    word-wrap: break-word;
    border: 3px solid #fff;
    color: #fff;
}

.btn-instagram {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    padding: 15px calc(0.1vw + 20px);
    font-weight: 800;
    font-size: calc(0.5vw + 10px);
    text-transform: capitalize;
    overflow: hidden;
    max-width: 100%;
    word-wrap: break-word;
    color: #fff;
}


.btn-instagram:hover {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    padding: 15px calc(0.1vw + 20px);
    font-weight: 800;
    font-size: calc(0.5vw + 10px);
    text-transform: capitalize;
    overflow: hidden;
    max-width: 100%;
    word-wrap: break-word;
    color: #fff;
}

.btn-prim:after {
    left: -100%;
    clip-path: polygon(10% 0, 70% 0, 90% 100%, 30% 100%);
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 300ms ease;
}
  
.btn-prim:hover::after {
    left: 100%;
}

.btn-sec {
    background-color: #dcdcdc;
    padding: 15px calc(1.1vw + 20px);
    font-weight: 800;
    font-size: calc(0.5vw + 10px);;
    text-transform: capitalize;
}

.detail-icon {
    padding-right: 10px;
}